:root {
    /* Body */
    --body-background-colour: #92ddd6;
    --body-text-colour: #030202;

    /* Box */
    --box-background-colour: #fff;
    --box-deleted-background-colour: #8B8B8B;
    --box-border-colour: #030202;
    --box-title-background-colour: #EB9691;
    --box-title-border-colour: #030202;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    /* Buttons */
    --button-background-colour: #EB9691;
    --button-background-colour-disabled: #c9c9c9;
    --button-hover-background-colour: #fca8a4;
    --button-border-colour: #030202;
    --button-svg-fill-colour: #030202;
    --button-text-colour: #030202;
    --button-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    /* Inputs */
    --input-border-colour: #030202;
    --input-border-focus-colour: #fca8a4;

    /* Text */
    --text-heading-background-colour: #fff;
    --text-heading-border-colour: #030202;
    --text-heading-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --text-required-colour: #fca8a4;
    --text-highlight-colour: #f08966;
}